#contact_modal {
    display: none;
}
/*.......................HEADER..............*/
*{
    font-weight: normal;
    font-style: normal;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 100px;
}
.photographerHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
    .infosPhotographe {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        margin-left: -120px;
    }
        .infosPhotographe h2 {
            font-size: 50px;
            color: #d3573c;
        }
        .infosPhotographe h3 {
            color: #901C1C;
            margin-top: -25px;
        }
        .infosPhotographe h4 {
            color: #757575;
            margin-top: -5px;

        }
    .photograph-header img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-right: -120px;
        margin-top: 50px;
        object-fit: cover;
    }
    .contact_button {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: #901C1C;
        border-radius: 5px;
        cursor: pointer;
        margin-left: -200px;

    }
    .contact_button:hover {
        border: black solid 1px;
        box-shadow: 3px 3px 15px #312E2E;
    }
    

/*.........................MENU DES MEDIAS...........*/
.tri{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
    position: relative;
}
    .choix{
        background-color: #901c1c;
        
        width: 10%;
        margin-left: 45px;
        color: white;
        border-radius: 5px;
        padding-left: 20px;
        margin-top: 5px;
        cursor: pointer;
        font-size: 18px;
    }
    .choix:hover {
        border: black solid 1px;
        box-shadow: 3px 3px 15px #312E2E;
    }
    

/*..............MEDIAS...........*/
.cartes_medias{
    display: flex;
    width: 95%;
    height: 1600px;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
    margin-top: 30px;
}
.carte_media{
    height: 360px;
    width: 26%;
    display: flex;
    flex-direction: column;
}
    .carte_media img, video{
        height: 310px;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    .info_photo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 38px;
    }
        .info_photo h2, .info_photo span{
            color: #901C1C;
            font-size: 20px;
            font-weight: 500;
        }
        .info_photo h2{
            width: 80%;   
        }
        .info_photo span{
            margin-right: 0px;
            font-weight: 600;

            
        }
        .info_photo i{
            color: #901C1C;
            font-size: 20px;
        }
/*...........Page du photographe, bandeau du bas.............*/    
.bandeau{
    display: flex;
    align-items: center;
    background-color: #DB8876;
    width: 320px;
    height: 70px;
    position: fixed;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    right: 0;
    bottom: 0;
    margin-right: 50px;
}
#total_likes, #prix{
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}
#prix {
    margin-left: 70px;
}
.bandeau i{
    font-size: 22px;
    margin-left: 10px;
}






/*....................MODAL..............*/
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    margin-left: 30%;
    position: absolute;
    top: 9%;
}
    .modal header {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
    }
    .modal header img {
        cursor: pointer;
        width: 35px;
        margin-top: -50px;
    }
    .modal header h2 {
        font-size: 50px;
        font-weight: normal;
    }
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
        form label {
            color: #312E2E;
            font-size: 30px;
        }
        form div {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: self-start;
            margin-bottom: 26px;
        }
        form input {
            width: 100%;
            height: 55px;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            margin-bottom: -15px;
        }
        #message{
            height: 200px;
            width: 100%;
            font-size: 20px;
            border: none;
            border-radius: 5px;
        }
        form .contact_button{
            margin-left: 2px;
            margin-top: 15px;
        }
        .formData[data-error]::after {
            content: attr(data-error);
            font-size: 15px;
            color: #e54858;
            display: block;
            line-height: 0.3;
            opacity: 0;
            transition: 0.3s;
            margin-left: 30px;
        }
            .formData[data-error-visible="true"]::after {
                opacity: 1;
            }
            .formData[data-error-visible="true"] .text-control {
                border: 2px solid #e54858;
            }
            input[data-error]::after {
                content: attr(data-error);
                color: red;
            }






/*...................LIGHTBOX..............*/
body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  