#contact_modal {
    display: none;
}
/*.......................HEADER*/
*{
    font-weight: normal;
    font-style: normal;
}
.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 100px;
}
.infos_photographe {
    width: 30%;
    height: 100%;
    margin-left: -60px;
}

.infos_photographe h2 {
    font-size: 64px;
    color: #d3573c;
    height: 65px;
}
.infos_photographe h3 {
    height: 24px;
    color: #901C1C;
}
.infos_photographe h4 {
    height: 18px;
    color: #757575;

}
.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: -50px;
    object-fit: cover;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -200px;
}
/*.........................MEDIAS*/
.tri{
    display: flex;
    margin-left: 130px;
    margin-top: 10px;
    font-size: 18px;
    position: relative;
}
.choix{
    background-color: #901c1c;
    width: 10%;
    margin-left: 45px;
    color: white;
    border-radius: 5px;
    padding-right: 15px;
    box-shadow: grey 2px 2px 7px;
    margin-top: 5px;
    
}
.choix i{
    position: absolute;
    margin-left: 180px;
    margin-top: 20px;
}
#fermer{
    display: none;
}

.date, .titre{
    display: none;
    border-top: white solid 1px;
    padding-top: 7px;

}
.pop, .date, .titre{
    width: 90%;
    margin: 0%;
    padding: 15px;
}






.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}